
*{
    background-color: rgba(68, 30, 42, 0.21);
}
html {
    font-size: 22px;
}
body{
    background-color: #333;
    color: whitesmoke;
}
a{
    color:red;
}
a:visited{
    color: rgb(14, 238, 17);
}
a:hover,a:active{
    color: blueviolet;
}